{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "plugins": [
    "json"
  ],
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": "eslint:recommended",
  "rules": {
    "no-unused-vars": "warn",
    "no-extra-bind": "warn",
    "no-useless-call": "warn",
    "no-useless-return": "warn",
    "no-const-assign": "warn",
    "no-this-before-super": "warn",
    "no-unreachable": "warn",
    "constructor-super": "warn",
    "valid-typeof": "warn",
    "no-console": "off",
    "no-var": "warn" ,
    "comma-dangle": "warn",
    "comma-spacing": "warn",
    "keyword-spacing": "warn",
    "no-unneeded-ternary": "warn",
    "semi": "error",
    "indent": [
      "error",
      2
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single"
    ]
  }
}
